body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    padding: 200px;
    width: 100%;
    color: #881212;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 20px;
}
.credit {
    padding: 10px;
    width: 100%;
    color: #05020d;
    border-radius: 3px;
    font-size: 15px;
}
table, td, th {
    border: 1px solid #b3ca69;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 100%;
}
input[type="text"] {
    text-align: center;
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid #060404;
    border-radius: 3px;
    font-size: 16px;
  }
  button {
    padding: 10px 20px;
    background-color: #9d0d0d;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
  }
  