/* Add your custom styles here */

/* Body styles */
body {
  background-color: #f4f4f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 200px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

h1 {
  color: #361604;
  font-size: 2.5em;
  font-weight: 800;
  text-align: center;
}

img {
  display: block;
  margin: 20px auto;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #2066b2;
  font-weight: bold;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.loading {
  font-weight: 700;
  display: inline-block;
  margin-top: 10px;
  font-size: 1.2em;
}

.loading::after {
  content: "...";
  animation: blink 1.5s infinite steps(5, start);
}

@keyframes blink {
  0%,
  20% {
    color: transparent;
  }
  50% {
    color: black;
  }
  100% {
    color: transparent;
  }
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }

  .form-group {
    width: 100%;
  }

  .btn {
    width: fit-content;
  }
}
