<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Scraper</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>YouTube Scraper</h1>
      <a href="https://github.com/CodeWithCosmo" target="_blank">
        <img src="/static/images/logo.png" alt="CWC" width="200" />
      </a>
      <div class="row">
        <div class="col-md-6">
          <form method="POST" action="/scrape" onsubmit="showLoading()">
            <div class="form-group">
              <label for="content">Youtube Handle</label>
              <input
                type="text"
                class="form-control"
                id="content"
                placeholder="@"
                name="content"
                required
              />
            </div>

            <button type="submit" class="btn" id="scrapeButton">Scrape</button>
            <div class="loading" id="loadingAnimation">Loading...</div>
          </form>
        </div>
      </div>
    </div>
    <script>
      function showLoading() {
        document.getElementById("scrapeButton").style.display = "none";
        document.getElementById("loadingAnimation").style.display = "block";
      }

      // Reset button and loading animation visibility on page load
      window.onload = function () {
        document.getElementById("scrapeButton").style.display = "block";
        document.getElementById("loadingAnimation").style.display = "none";
      };
    </script>
  </body>
</html>
