{% extends 'base.html' %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block body %}
<div class="content">
    <h1 style="text-align: center">Youtube Scraper</h1>    
    <img src="{{url_for('static', filename='/image/logo.png')}}" alt="Youtube" class="profile" style="display: block; margin: 0 auto;">
    <div class="form">
        <div style="text-align:center; margin-bottom: 20px;">
        </div>
        <form action="/scrape" method="POST">            
            <center><input type="text" name="content" id="content" placeholder="Enter Youtube Handle Name"></center>
            <br>
            <center><button type="submit" class="btn btn-primary btn-block btn-large">Search</button></center>
        </form>
    </div>    
</div>
<div class="credit">
    <h5 style="text-align: right">Created By: <a href="https://github.com/CodeWithCosmo">Lalit Singh Bisht</a></h5> 
</div>

{% endblock %}
