{% extends 'base.html' %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block body %}
<div class="content">
    <h1 style="text-align: center">Youtube Scraper</h1>    
    <img src="{{url_for('static', filename='/image/Profile.png')}}" alt="Youtube" class="profile" style="display: block; margin: 0 auto;">
    <div class="form">
        <div style="text-align:center; margin-bottom: 20px;">
        </div>
        <form action="/scrape" method="POST">            
            <input type="text" name="content" id="content" placeholder="___Enter Youtube Handle___">
            <br>
            <input type="submit" value="Search" style="display: block; margin: 0 auto;">
        </form>
    </div>
</div>
{% endblock %}
